---
 const personalImageAlt = "Tatiana Mezzano"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
        Me llamo Tatiana Mezzano. Soy desarrolladora web, tester QA y analista GeneXus. Desde muy chica me interesé por la ciencia y la tecnología, lo que me llevó a construir una carrera enfocada en el desarrollo de software y la mejora continua de productos digitales.
    </p>

    <p>
        Actualmente trabajo como analista GeneXus en una empresa especializada en soluciones ERP, donde participo en el desarrollo y mantenimiento del sistema.
    </p>

    <p>
        Además, me especializo en el desarrollo de interfaces web modernas, combinando diseño, funcionalidad y rendimiento.
    </p>

  </div>

  <img width="200" height="200" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>