---
import WhatsAppIcon from "./icons/WhatsApp.astro"
import LinkedIn from "./icons/LinkedIn.astro"
import Mail from "./icons/Mail.astro"
const currentYear = new Date().getFullYear()
---

<footer
  class="opacity-80 m-4 min-[375px]:pl-4 md:pl-0 mt-8 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>

  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4"
  >
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
    
      <li>
        <a href="https://wa.me/59898273615" target="_blank" rel="noopener noreferrer">
          <WhatsAppIcon class="size-7"/>
        </a>
      </li>

      <li class="mx-3">
        <a href="mailto:tatianamezzanom@gmail.com" target="_blank" rel="noopener noreferrer">
          <Mail class="size-7 m"/>
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/tatiana-mezzano/" target="_blank" rel="noopener noreferrer">
          <LinkedIn class="size-7"/>
        </a>
      </li>
    </ul>
  </div>
</footer>
